{% extends 'meetup/base/base.html' %}
{% load static %}

{% block title %}Registration Successful{% endblock %}

{% block site_css %}
    <link rel="stylesheet" href="{% static 'meetup/styles/registration-confirmation.css' %}">
{% endblock %}

{% block main_heading %}Thanks for signing up!{% endblock %}

{% block body %}
    <section id="confirmation">
        <h2>Meetup Location</h2>
        <p>Thanks for signing up - see you at the meetup!</p>
                    {% comment %} "mailto:" opens the mail client of the visitor and starts composing an email to the organizer {% endcomment %}
        <p>Got questions or can't make it? Please <a href="mailto:{{ meetup.organizer_email }}">contact the organizer</a> ahead of time!</p>
    </section>

    <section id="continue">
        <p>Of course you can sign up for more than one meetup!</p>
        <p><a href="/meetups" class="btn">Explore our Meetups</a></p>
    </section>
{% endblock %}

