annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asgiref @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_asgiref_1770273198/work
certifi==2026.4.22
click==8.3.3
colorama==0.4.6
contourpy @ file:///C:/miniconda3/conda-bld/contourpy_1763643941183/work
cycler @ file:///C:/Users/task_176606795666152/croot/cycler_1766068071140/work
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1770139889875/work
dnspython==2.8.0
email-validator==2.3.0
fastapi==0.136.1
fastapi-cli==0.0.24
fastapi-cloud-cli==0.17.1
fastar==0.11.0
fonttools @ file:///C:/Users/task_178107563484896/croot/fonttools_1781075779209/work
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.15
Jinja2==3.1.6
joblib @ file:///C:/Users/task_176786753226112/croot/joblib_1767868141093/work
kiwisolver @ file:///C:/Users/task_RK4uIj6yQbSiu_0/croot/kiwisolver_1786023439000/work
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.11.0
mdurl==0.1.2
mkl-service==2.7.2
mkl_fft @ file:///C:/Users/task_177730050190117/croot/mkl_fft_1777300571710/work
mkl_random @ file:///C:/Users/task_178236954965687/croot/mkl_random_1782369674093/work
narwhals @ file:///C:/Users/task_Ahk_fpuEQZ-ql_0/croot/narwhals_1783944194288/work
numpy @ file:///C:/Users/task_XQ74FEIlTmC-z_0/croot/numpy_and_numpy_base_1783953967606/work/dist/numpy-2.5.1-cp314-cp314-win_amd64.whl#sha256=0eb8d5d520a6841bac8f03b2bc4b6a286d7ffd26d64320c3930a05aff2804a8b
packaging==26.2
pandas @ file:///C:/Users/task_ZunDjHXJRDOaL_0/croot/pandas_1785760254460/work
pillow @ file:///C:/Users/task_177797437436638/croot/pillow_1777974476826/work
pydantic==2.13.4
pydantic-extra-types==2.11.1
pydantic-settings==2.14.1
pydantic_core==2.46.4
Pygments==2.20.0
pyparsing @ file:///C:/Users/task_178652796730938/croot/pyparsing_1786528192047/work
PyQt6==6.9.1
PyQt6_sip @ file:///C:/Users/dev-admin/buildout/croot/pyqt-split_1759966266962/work/pyqt_sip
python-dateutil @ file:///C:/Users/dev-admin/buildout/croot/python-dateutil_1759954839763/work
python-dotenv==1.2.2
python-multipart==0.0.28
PyYAML==6.0.3
rich==15.0.0
rich-toolkit==0.19.9
rignore==0.7.6
scikit-learn @ file:///C:/Users/task_178153002679570/croot/scikit-learn_1781530290720/work
scipy @ file:///C:/Users/task_178236955794638/croot/scipy_1782369647777/work/dist/scipy-1.18.0-cp314-cp314-win_amd64.whl#sha256=a658e9d3fdbad52e9b586cdba864b1f0e2e29c30fbaa582805d2b0844c0de9b4
sentry-sdk==2.60.0
setuptools==83.0.0
shellingham==1.5.4
sip @ file:///C:/Users/dev-admin/buildout/croot/sip_1761943990339/work
six @ file:///C:/Users/dev-admin/buildout/croot/six_1759954493303/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_sqlparse_1766143791/work
starlette==1.0.0
threadpoolctl @ file:///C:/miniconda3/conda-bld/threadpoolctl_1764361788517/work
tornado @ file:///C:/Users/task_178231420464865/croot/tornado_1782314852606/work
typer==0.25.1
typing-inspection==0.4.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///home/task_176829656558347/croot/python-tzdata_1768296637279/work
urllib3==2.7.0
uvicorn==0.46.0
watchfiles==1.1.1
websockets==16.0
wheel==0.47.0
